@font-face {
    font-family: JetBrainsMono;
    src: url(../fonts/JetBrainsMono-Bold.ttf);
}
*{
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
    font-style: none;
    text-decoration: none;
    user-select: none;
    transition: 0.2s;
    /* pointer-events: none; */
}
a{
    color: black;
}
.header__contents{
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}
.header__contents__elements{
    min-width: 45%;
}
.header__contents__elements__ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header__contents__elements__li{
    display: flex;
    align-items: center;
    gap: 15px;
}
.header__contents__elements__li:hover{
    transform:scale(1.2);
}
.header__contents__sign{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 25%;
}
.main__contents{
    min-height: calc(100vh - 90px - 52px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
}
.main__contents__left{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50%;
    min-height: 100%; 
}
.main__contents__right{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50%;
    min-height: 100%;   
}
.main__contents__sign{
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.main__contents__sign__elements{
    position: relative;     
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 35px;
}
.main__contents__sign__elements__input{
    border: solid 3px #00000000;
    outline: none;
    font-size: 22px;
    padding: 2% 15% 2% 5%;
    min-width: 80%;
    min-height: 30px;
    border-radius: 5px;
}
.input__error{
    border: solid 3px rgb(255, 0, 72);
}
.main__contents__sign__elements__icon{
    /* pointer-events: none;    */
    top: 25%;
    right: 10px;
    position: absolute;
    height: 25px;
    width: 25px;
}
.main__contents__sign__elements__license{
    font-size: 20px;
    color: white;
}
.license{
    accent-color: white;
}
.main__contents__signup__elements__btn{
    width: 100%;
}
.main__contents__signin__elements__btn{
    width: 100%;
}
.main__contents__sign__elements__signin{
    font-size: 20px;
}
.main__contents__sign__elements__signup{
    font-size: 20px;
    color: white;
}
.icon{
    width: 25px;
    height: 25px;
}
.gradient{
    background: linear-gradient(to bottom, #5E64F8, #8A4FFE);
    color: white;
}
.background{
    z-index: -1;
    position :absolute;
    width: 50vw;
    height: 100%;
    /* border-radius: 0px 0px 0px 250px; */
    top: 0;
    right: 0;
}
.background::after{
    min-width: 20px;
    min-height: 50%;
    position: absolute;
}
.background::before{
    min-width: 20px;
    min-height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    color: black;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    padding: 10px;
    padding-left: 55px;
    padding-right: 55px;
    border-radius: 5px;
    box-shadow: #000000 15px;
    background-color: rgb(255, 255, 255);
}
.btn:hover{
    background-color: rgb(235, 235, 235);
}
.btn:active{
    background-color: rgb(215, 215, 215);
}
.anime__dance__btn{
    height: 100px;
    width: 100px;
    background-color: #00000000;
    position: absolute;
    bottom: 0;
    left: 0;
}
.anime__dance{
    max-height: 360px;
    max-width: 330px;
    z-index: -1;
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
}
.anime__dance.active{
  display: block;
}