@font-face {
    font-family: JetBrainsMono;
    src: url(../fonts/JetBrainsMono-Bold.ttf);
}
*{
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
    font-style: none;
    text-decoration: none;
    user-select: none;
}
a{
    color: black;
}
.header__contents{
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}
.header__contents__elements{
    min-width: 45%;
}
.header__contents__elements__ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header__contents__elements__li{
    display: flex;
    align-items: center;
    gap: 15px;
}
.header__contents__log__element{
    margin-right: 250px;
    background-color: rgb(255, 255, 255);
}
.icon{
    width: 25px;
    height: 25px;
}
.gradient{
    background: linear-gradient(to bottom right, #cb8afb, #e7ccf2);
}
.background{
    z-index: -1;
    position :absolute;
    width: 45vw;
    height: 95vh;
    top: 0;
    left: 45%;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    padding: 10px;
    padding-left: 55px;
    padding-right: 55px;
    border-radius: 5px;
    box-shadow: #000000 15px;
}